%p
  %img{scr:"/ads/#{@ad.filename}", style: "height: #{@ad.height}; width: #{@ad.width}"}
%p
  %b= 'Clicks:'
  = @ad.clicks.size
%p
  %b= 'Title:'
  = @ad.title
%p
  %b= 'Content:'
  = @ad.content
%p
  %b= 'Width:'
  = @ad.width
%p
  %b= 'Height:'
  = @ad.height
%p
  %b= 'Filename:'
  = @ad.filename
%p
  %b= 'Destination path:'
  = @ad.url
%p
  %b= 'Is active:'
  = @ad.is_active
